.root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
